.customChat {
    background-color: white;
    height: 64.815vmin;/* 700 */
    box-shadow: 0 0.093vmin 0.185vmin 0 rgb(0 0 0 / 10%);
    border-radius: 0.55rem;
    padding: 1.852vmin!important;
}
.roomList {
    overflow-y: auto;
    height: 46.296vmin;
}

.room {
    height: 6.019vmin;
    border-radius: 0.278vmin;
    padding: 0.926vmin 1.389vmin;
    transition-duration: 0.3s;
}

.room:hover{
    background-color: #efefef;
    transition-duration: 0.3s;
}

.roomChat {
    border-left: 0.185vmin solid #eaeaea;
}

.roomChatHeader {
    height: 6.481vmin;
    border-bottom: 0.185vmin solid #eaeaea;
    padding: 1.389vmin 1.852vmin;
}
.roomChatBody{
    padding: 1.389vmin 1.852vmin;
    flex-wrap: wrap;
}
.message {
    width: 100%;
}
.my-message {
    background: #efefef
}

.my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.other-message {
    background: #e8f1f3;
    text-align: right
}

.other-message:after {
    border-bottom-color: #e8f1f3;
    left: 93%
}