.customChat {
    background-color: white;
    height: 64.815vmin;/* 700 */
    box-shadow: 0 0.093vmin 0.185vmin 0 rgb(0 0 0 / 10%);
    border-radius: 0.55rem;
    padding: 1.852vmin!important;
}
.roomList {
    overflow-y: auto;
    height: 46.296vmin;
}

.room {
    height: 6.019vmin;
    border-radius: 0.278vmin;
    padding: 0.926vmin 1.389vmin;
    transition-duration: 0.3s;
}

.room:hover{
    background-color: #efefef;
    transition-duration: 0.3s;
}

.roomChat {
    position: relative;
    border-left: 0.185vmin solid #eaeaea;
}

.roomChatHeader {
    height: 6.481vmin;
    border-bottom: 0.185vmin solid #eaeaea;
    padding: 1.389vmin 1.852vmin;
}
.roomChatBody{
    overflow-y: auto;
    padding: 1.389vmin 1.852vmin;
    flex-wrap: wrap;
    height: 44.741vmin;
    /* align-content: flex-end; */
}

.roomChatInput {
    padding: 1.389vmin 1.852vmin;
    bottom: 0;
    position: absolute;
    width: 100%;
}

.message {
    width: 100%;
    margin-bottom: 2.778vmin;
}

.message .messageText {
    display: inline-block!important;
    padding: 1.667vmin 1.852vmin;
    line-height: 2.407vmin;
    font-size: 1.681vmin;
    border-radius: 0.648vmin;
}
.message .messageAuthor {
    justify-content: end;
}
.message .messageInfo {
    justify-content: end;
    font-size: 1.296vmin;
    font-weight: 700;
    color: gray;
}
.message .my-message {
    background: #efefef;
}

.message .other-message {
    background: #e8f1f3;
    right: 0;
}