body {
    background-color: #f4f7f6!important;
    font-size: 1.481vmin!important;
}
span, p, text, button, input {
    font-size: 1.481vmin!important;
}
::-webkit-scrollbar {
    width: 4px; /* ширина scrollbar */
  }
::-webkit-scrollbar-track {
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
border-bottom-right-radius: 20px;
}
::-webkit-scrollbar-thumb {
background-color: rgba(177, 177, 182, 0.2); /* цвет плашки */
border-radius: 20px; /* закругления плашки */
border: 2px solid rgba(100, 99, 98, 0.178); /* padding вокруг плашки */
}